body{
	font-family: 'Open sans'; 
	font-size: 12px;
}


#choropleth-menu{
	width: 46%;
	border: 1px solid black;
	border-radius: 5px;
	border-spacing: 4px;
	display: inline-block;
}

#choropleth-menu-heading{
	margin: 2px;
	font-weight: bold;
}

#time-menu-year{
	position: relative;
	display: inline;
}

#time-menu-month{
	position: relative;
	display: inline;
}

#heatmap-menu{
	width: 46%;
	border: 1px solid black;
	border-radius: 5px;
	border-spacing: 4px;
	position: relative;
	top: -122px;
	left: 50%;
}

#heatmap-menu-heading{
	margin: 2px;
	font-weight: bold;
}

#close-heat-map{
	position: relative;
	background-color: red;
	border-color: red;
	z-index: 999;
	margin: 2px;
}

#show-world-values{
	position: relative;
	background-color: steelblue;
	border-color: steelblue;
	z-index: 999;
	margin: 2px;

}

#maps div{
	zoom:80%;
	position: relative;
	display: inline;
	top: -100;
}

img{
	position: relative;
	left: 950px;
	top: -74px;
	width: 900px;
	height: 35px;

}

#legends{
	height: 75px;
}

#value-time{
	position: relative;
	left: 468px;
	top: -468px;
	font-size: 18px;

}

#time-slider-div{
	height: 50px;
}

#slider-time{
	position: relative;
	top:-50px;
}

#charts div{
	position: relative;
	display: inline;
}

.chart-selection-button{
	zoom:80%;
	position: absolute;
	left: 890px;
	top: -415px;
	background-color: steelblue;
	border-color: steelblue;
}

#country-line-chart{
	position: relative;	
	left: 50px;
	zoom:80%;
}

#close-country-line-chart{
	position: relative;
	left: 100px;
	top: -415px;
	background-color: red;
	border-color: red;

}

.loader {
  border: 25px solid #f3f3f3;
  border-radius: 50%;
  border-top: 25px solid #2b8cbe;
  border-right: 25px solid #a6bddb;
  border-bottom: 25px solid #fdbb84;
  border-left: 25px solid #e34a33;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 40%;
}

#load-text{
	position: absolute;		
	left: 50%;
	top: 59%;
	font-weight: bold;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}