body{
	zoom:80%;
}


#charts div{
	position: relative;
	display: inline;
}

#country-line-chart{
	position: relative;	
	left: 50px;
}

#close-country-line-chart{
	position: relative;
	left: 100px;
	top: -415px;
	background-color: red;
	border-color: red;

}

#close-heat-map{
	position: relative;
	left: 150px;
	top: -450px;
	background-color: red;
	border-color: red;
	z-index: 999;
}

#show-world-values{
	position: relative;
	left: 225px;
	top: -450px;
	background-color: steelblue;
	border-color: steelblue;
	z-index: 999;

}

img{
	position: relative;
	left: 1150px;
	top: -80px;
	width: 1000px;
	height: 40px;

}

.chart-selection-button{
	position: absolute;
	left: 890px;
	top: -415px;
	background-color: steelblue;
	border-color: steelblue;
}

#maps div{
	position: relative;
	display: inline;
}

#time-menu{
	position: relative;
	display: inline;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2b8cbe;
  border-right: 16px solid #a6bddb;
  border-bottom: 16px solid #fdbb84;
  border-left: 16px solid #e34a33;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 40%;
}

#load-text{
	position: absolute;		
	left: 50%;
	top: 53%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}